# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/
out/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Test coverage
coverage/

# Miscellaneous
.DS_Store
Thumbs.db